*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}

body{
    background:linear-gradient(180deg,#050816,#0b1120,#111827);
    color:white;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* Жылдыздар */

.stars{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:radial-gradient(white 1px,transparent 1px);
    background-size:45px 45px;
    animation:starsMove 80s linear infinite;
    z-index:-2;
}

/* Жүрөктөр */

.hearts::before{
    content:"❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️";
    position:absolute;
    top:-20%;
    left:-10%;
    font-size:24px;
    opacity:.2;
    animation:hearts 18s linear infinite;
}

/* Контейнер */

.container{
    width:90%;
    max-width:520px;
    padding:40px;
    text-align:center;
    border-radius:30px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,.15);
    box-shadow:0 0 40px rgba(255,0,120,.25);
}

/* Башкы ат */

.title{
    font-size:50px;
    color:#ff5b9f;
    animation:fadeDown 1.5s;
}

/* Текст */

.text{
    margin-top:20px;
    font-size:20px;
    line-height:1.8;
    color:#f1f1f1;
    animation:fadeUp 2s;
}

/* Баскыч */

button{
    margin-top:35px;
    padding:18px 40px;
    border:none;
    border-radius:50px;
    background:#ff2d75;
    color:white;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.07);
    box-shadow:0 0 25px #ff2d75;
}

/* Сүрөт */

#photo{
    width:100%;
    height:420px;
    object-fit:cover;
    border-radius:20px;
    margin-top:20px;
    transition:1s;
    box-shadow:0 0 30px rgba(255,255,255,.25);
}

/* Баскычтар */

.buttons{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
    margin-top:25px;
}

#musicBtn{
    background:#7c3aed;
}

#yesBtn{
    background:#ff2d75;
}

#noBtn{
    background:#555;
}

/* Анимациялар */

@keyframes fadeDown{
    from{
        opacity:0;
        transform:translateY(-60px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(50px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes hearts{
    from{
        transform:translateY(-120px);
    }
    to{
        transform:translateY(120vh);
    }
}

@keyframes starsMove{
    from{
        background-position:0 0;
    }
    to{
        background-position:0 1500px;
    }
}

/* Телефон */

@media(max-width:600px){

.title{
    font-size:38px;
}

.text{
    font-size:18px;
}

.container{
    padding:25px;
}

button{
    width:100%;
}

}
